In [1]:
import pandas as pd

In [ ]:
# Q1:

lst=[10, 20, 30, 40, 50]
series=pd.Series(lst)
print(series,end="\n\n")

data={
    "Name":['A','B','C','D'],
    "Age":[10,12,13,11],
    "City":['P','Q','R','S']
}

df=pd.DataFrame(data)
print(df,end="\n\n")

0    10
1    20
2    30
3    40
4    50
dtype: int64

  Name  Age City
0    A   10    P
1    B   12    Q
2    C   13    R
3    D   11    S

(4, 3)

Name    object
Age      int64
City    object
dtype: object

In [14]:
# Q2:

print(df.shape,end="\n\n")
print(df.dtypes,end='\n\n')
print(df.describe())

(4, 3)

Name    object
Age      int64
City    object
dtype: object

             Age
count   4.000000
mean   11.500000
std     1.290994
min    10.000000
25%    10.750000
50%    11.500000
75%    12.250000
max    13.000000

In [23]:
# Q3

data = { 
    'Product': ['Pen', 'Book', 'Eraser', 'Pencil'], 
    'Price': [10, 50, 5, 7], 
    'Quantity': [100, 60, 200, 150],
    'Rating': [10,9,7,8]
} 

df=pd.DataFrame(data)
print(df,end='\n\n')

print(df.columns,end='\n\n')
print(df.index,end='\n\n')

print(df['Product'])

  Product  Price  Quantity  Rating
0     Pen     10       100      10
1    Book     50        60       9
2  Eraser      5       200       7
3  Pencil      7       150       8

Index(['Product', 'Price', 'Quantity', 'Rating'], dtype='object')

RangeIndex(start=0, stop=4, step=1)

0       Pen
1      Book
2    Eraser
3    Pencil
Name: Product, dtype: object

In [27]:
# Q4:

print(df.iloc[0:1],end='\n\n')
print(df.iloc[::,1:2],end='\n\n')
print(df.iloc[1:3:,1:3],end='\n\n')

  Product  Price  Quantity  Rating
0     Pen     10       100      10

   Price
0     10
1     50
2      5
3      7

   Price  Quantity
1     50        60
2      5       200

In [ ]:
# Q5:

student={
    'Name':['A','B','C','D'],
    'Marks':[97,100,90,95],
    'Address':['N/A' for i in range(4)]
}

std=pd.DataFrame(student)
print(std,end='\n\n')

std.drop(3,inplace=True)
print(std)

  Name  Marks Address
0    A     97     N/A
1    B    100     N/A
2    C     90     N/A
3    D     95     N/A

  Name  Marks Address
0    A     97     N/A
1    B    100     N/A
2    C     90     N/A

In [32]:
# Q6:

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", 
             "Frank", "Grace", "Henry", "Ivy", "Jack"],
    "Department": ["HR", "Engineering", "Sales", "Engineering", "Sales",
                   "Marketing", "HR", "Engineering", "Sales", "Marketing"],
    "Salary": [70000, 95000, 80000, 110000, 82000,
               68000, 72000, 120000, 81000, 70000]
}

employees=pd.DataFrame(data)
print(employees,end='\n\n')

copy=employees.sort_values(['Salary','Name'],ascending=[1,0])
print(copy)

      Name   Department  Salary
0    Alice           HR   70000
1      Bob  Engineering   95000
2  Charlie        Sales   80000
3    David  Engineering  110000
4      Eva        Sales   82000
5    Frank    Marketing   68000
6    Grace           HR   72000
7    Henry  Engineering  120000
8      Ivy        Sales   81000
9     Jack    Marketing   70000

      Name   Department  Salary
5    Frank    Marketing   68000
9     Jack    Marketing   70000
0    Alice           HR   70000
6    Grace           HR   72000
2  Charlie        Sales   80000
8      Ivy        Sales   81000
4      Eva        Sales   82000
1      Bob  Engineering   95000
3    David  Engineering  110000
7    Henry  Engineering  120000

In [34]:
# Q7:

data = {
    "Name": ["Mia", "Liam", "Olivia", "Noah", 
             "Emma", "Oliver", "Ava", "Lucas"],
    "Score": [88, 35, 95, 81, 
              76, 89, 55, 78]
}

students=pd.DataFrame(data)
print(students,end='\n\n')

filtered=students.loc[(students['Score']>60) | (students['Score']<40)]
print(filtered)

     Name  Score
0     Mia     88
1    Liam     35
2  Olivia     95
3    Noah     81
4    Emma     76
5  Oliver     89
6     Ava     55
7   Lucas     78

     Name  Score
0     Mia     88
1    Liam     35
2  Olivia     95
3    Noah     81
4    Emma     76
5  Oliver     89
7   Lucas     78