In [82]:
import numpy as np
import pandas as pd
np.random.seed(42)
ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])
DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})
DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

In [83]:
# Question no - 01

ages=np.array(DF['age'])
print(f"Numpy Ages: {ages}")
print(f"Ages Datatype: {ages.dtype}")
print(f"Ages Dimension: {ages.ndim}")
print(f"Ages Shape: {ages.shape}")
print(f"Ages Size: {ages.size}\n")

salaries=np.array(DF['salary'])
print(f"Numpy Salaries: {salaries}")
print(f"Salaries Dimension: {salaries.dtype}")
print(f"Salaries Shape: {salaries.shape}")
print(f"Salaries Size: {salaries.size}")

Numpy Ages: [56 46 32 25 38 56 36 40 28 28]
Ages Datatype: int32
Ages Dimension: 1
Ages Shape: (10,)
Ages Size: 10

Numpy Salaries: [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]
Salaries Dimension: int32
Salaries Shape: (10,)
Salaries Size: 10

In [84]:
# Question no - 02

print(f"Highest Salary: {np.max(salaries)}")
print(f"Lowest Salary: {np.min(salaries)}")
print(f"Average Salary: {np.mean(salaries)}")
print(f"Average Age: {np.mean(ages)}")

Highest Salary: 89735
Lowest Salary: 30769
Average Salary: 57446.9
Average Age: 38.5

In [85]:
# Question no - 03

age_gt30=ages[ages>30]
print(f"Ages > 30: {age_gt30}")
print(f"Count Ages > 30: {age_gt30.size}")

Ages > 30: [56 46 32 38 56 36 40]
Count Ages > 30: 7

In [86]:
# Question no - 04

new_ages=ages+5
print(f"Ages added with 5: {new_ages}")

Ages added with 5: [61 51 37 30 43 61 41 45 33 33]

In [87]:
# Question no - 05

print(f"Sum of all salaries: {np.sum(salaries)}")
print(f"Difference between max and min salary: {np.max(salaries)-np.min(salaries)}")

Sum of all salaries: 574469
Difference between max and min salary: 58966

In [88]:
# Question no - 06

employees=pd.read_csv('employees.csv')
print(employees.head(5))
print('\n')

print(employees.info())
print('\n')

print(employees.describe())

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None


             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

In [89]:
# Question no - 07

id_age_salary=employees.loc[:,['id','age','salary']]
print(id_age_salary)
print('\n')

print(f"last 3 rows of main data frame:\n{employees.tail(3)}")

   id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311


last 3 rows of main data frame:
   id  age  salary   dept
7   8   40   86101     IT
8   9   28   32433  Sales
9  10   28   35311     HR

In [90]:
# Question no -08

IT_employess=employees.loc[employees['dept']=='IT']
print(IT_employess)

print(f"\nTotal number of IT employess: {IT_employess.shape[0]}")

   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT

Total number of IT employess: 3

In [91]:
# Question no- 09

top3=employees.sort_values('salary',ascending=False).head(3)
print(top3.loc[:,['dept','age']])

      dept  age
6  Finance   36
7       IT   40
0       HR   56

In [96]:
# Question no- 10

employees.loc[employees['salary']>80000,'salary']=80000
print(employees)

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   80000  Finance
7   8   40   80000       IT
8   9   28   32433    Sales
9  10   28   35311       HR